* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: aliceblue;
    padding-top: 50px;
}

header {
    display: flex;
    margin-bottom: 20px;
}

header h1 {
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
    align-items: center;
    text-align: center;
    margin: 10px auto;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.form-campo input {
    border-radius: 6px;
    border-color: darkgrey;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo textarea {
    height: 120px;
    resize: none;
}

.form-campo input:focus {
    outline: none;
    border: 2px solid rgb(153, 202, 245);
}


button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #06b415;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background-color: #03772a;
}

table {
    width: 100%;
    margin-top: 30px;
}

table th {
    border-bottom: 2px solid #000;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

table td {
    padding: 12px 0;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid rgb(153, 202, 245);
}
